@model IEnumerable<FinancialPortal.Models.Accounts>


<style>
    footer{
        display: none;
    }
</style>

<br />
@*<div style="text-align: center">
    <h1 id="dashHeading">HOUSE ACCOUNTS</h1>
</div>
<br /><br /><br />*@
<div class="main-header">
    <br />
    <div class="row">
        <div class="col-md-10">
            <h2>Accounts</h2>
            <em>Summary</em>
        </div>
    </div>
</div>

<div class="widget widget-table">
    <div class="widget-header table-title">
        <h3><i class="fa fa-table"></i>Liquid Assets: <span id="acc"></span></h3>
    </div>
    <div class="widget-content">
        <table @*id="featured-datatable"*@ id="table-hover" class="table @*table-sorting*@ table-striped table-bordered table-hover dataTable ">
            <thead>
                <tr class="tableHeader">
                      <th>
                        Account Name
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Balance)
                    </th>
                    <th>
                        Reconciled Balance
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.IsArchived == false)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Balance)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReconciledBalance)
                            </td>
                            <td style="font-size: 1.25em">
                                <a href="@Url.Action("AccountTrans", "Transactions", new { id = item.Id})" class="fa fa-list" data-toggle="tool-tip" title="Account Transactions"></a> |
                                <a href="@Url.Action("Edit", "Accounts", new { id = item.Id})" class="fa fa-edit" data-toggle="tool-tip" title="Edit Account"></a> |
                                <a href="@Url.Action("Delete", "Accounts", new { id = item.Id})" class="fa fa-trash" data-toggle="tool-tip" title="Delete Account"></a>

                            </td>
                        </tr>
                    }
                }

                </tbody>
        </table>
    </div>
</div>
<br /><br />


@section scripts {
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <script>
        $(document).ready(function () {
            $.post('@Url.Action("GetChart", "Home")').then(function (response) {

                //$('#exp').text('-$' + response.totalExpense);
                //$('#bud').text('$' + response.totalBudget);
                $("#exp").text('-$' + parseFloat(response.totalExpense, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
                $("#bud").text('-$' + parseFloat(response.totalBudget, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
                $("#acc").text('$' + parseFloat(response.totalAcc, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
            });
        });
    </script>
}