@model FinancialPortal.Models.Transactions

<style>
    footer {
        display: none;
    }
</style>

@Html.HiddenFor(model => model.TransactionType.Id)
@Html.HiddenFor(model => model.TransactionType.Name)

@*<div style="text-align: left">
    <h3 id="dashHeading">Void Transaction</h3>
</div>
<br />*@

<div class="main-header">
    <br />
    <div class="row">
        <div class="col-md-10">
            <h2>Transaction</h2>
            <em>Void</em>
        </div>
    </div>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Account
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Name)
        </dd>

        <dt>
            Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            Modify Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.EnteredById)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnteredById)
        </dd>*@

        <dt>
           Reconciled
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsReconciled)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ReconciledAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReconciledAmount)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.ExcludeBudgetItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExcludeBudgetItem)
        </dd>*@

    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.AccountId)
        <hr />
        <div class="form-group">
            <div class="row">
                <div class="col-md-offset-1 col-md-6">
                    @*<input type="checkbox" name="IsVoid" value=@Model.IsVoid class="col-md-offset-1 col-md-1" />*@
                    @Html.Label("Void Transaction? ")
                    @Html.CheckBoxFor(m => m.IsVoid)
                    @*<p class="col-md-9">Void Transaction?.</p>*@
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="col-md-offset-1">
    @Html.ActionLink("Back to List", "AccountTrans", new { id = Model.AccountId })
</div>