@using Microsoft.AspNet.Identity;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <title>Budgeter | TB</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="KingAdmin - Bootstrap Admin Dashboard Theme">
    <meta name="author" content="The Develovers">
    <!-- CSS -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/main.css" rel="stylesheet" type="text/css">
    <!-- CDN for Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
    <!-- Custom CSS -->
    <link href="~/assets/css/my-custom-styles.css" rel="stylesheet" type="text/css">
    <!--[if lte IE 9]>
        <link href="~/assets/css/main-ie.css" rel="stylesheet" type="text/css"/>
        <link href="~/assets/css/main-ie-part2.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!-- added code to apply skin -->
    <link href="~/assets/css/skins/myGreen.css" rel="stylesheet" type="text/css">
    <!-- end added code to apply skin -->

    <link rel="shortcut icon" href="~/assets/img/magnifying-glass-icon-57-226532.png">

    @*<link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">*@

    <!--Add link to Morris Charts CSS CDN -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

</head>
@*<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if(User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Accounts", "Index", "Accounts")</li>
                        <li>@Html.ActionLink("Transactions", "Index", "Transactions")</li>
                        <li>@Html.ActionLink("Join House", "Join", "Invitations")</li>
                        <li>@Html.ActionLink("Invite", "Create", "Invitations")</li>
                        <li>@Html.ActionLink("Pending", "Index", "Invitations")</li>
                        <li>@Html.ActionLink("Leave", "Leave", "Households")</li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Create House", "Create", "Households")</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
  
    </div>*@
<body class="topnav-fixed">
    <!-- WRAPPER -->
        <div id="wrapper" class="wrapper">
            <!-- TOP BAR -->
            <div class="top-bar navbar-fixed-top">
                <div class="container">
                    <div class="clearfix">
                        <a href="#" class="pull-left toggle-sidebar-collapse"><i class="fa fa-bars"></i></a>
                        <!-- logo -->
                        <div class="pull-left left">
                            @*<a href="index.html"><img src="" alt="TB - Financial Portal" /></a>*@
                            <h4 style="color: #fff; font-family: Rock Salt">SWEEP THE CHANGE</h4>
                            <h1 class="sr-only">TB - Financial Portal</h1>
                        </div>
                        <!-- end logo -->
                        <div class="pull-right right">
                            <!-- end search box -->
                            <!-- top-bar-right -->
                            <div class="top-bar-right">
                                <div class="logged-user">
                                    <span class="name">@Html.Partial("_LoginPartial")</span>
                                </div>
                                <!-- end logged user and the menu -->
                            </div>
                            <!-- end top-bar-right -->
                        </div>
                    </div>
                </div>
                <!-- /container -->
            </div>
            <!-- END TOP BAR -->
            <!-- LEFT SIDEBAR -->
            <div id="left-sidebar" class="left-sidebar ">
                <div class="sidebar-minified js-toggle-minified">
                    <i class="fa fa-exchange"></i>
                </div>
                <!-- main-nav -->
                <div class="sidebar-scroll">
                    <nav class="main-nav">
                        <ul class="main-menu">
                            <li>
                                <a href="#" class="js-sub-menu-toggle">
                                    <i class="fa fa-dashboard"></i><span class="text"> Dashboard</span>
                                    <i class="toggle-icon fa fa-angle-left"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="@Url.Action("Index", "Transactions")"><span class="text"> Recent Transactions</span></a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#" class="js-sub-menu-toggle">
                                    <i class="fa fa-bank"></i><span class="text"> Accounts </span>
                                    <i class="toggle-icon fa fa-angle-left"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="@Url.Action("Index", "Accounts")"><span class="text"> Summary</span></a></li>
                                    <li><a href="@Url.Action("Create", "Accounts")"><span class="text"> Create Account</span></a></li>
                                    <li><a href="@Url.Action("Archived", "Accounts")"><span class="text"> Archived Accounts</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="js-sub-menu-toggle">
                                    <i class="fa fa-money"></i><span class="text"> Spending</span>
                                    <i class="toggle-icon fa fa-angle-left"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="@Url.Action("Expenses", "Home")"><span class="text"> Monthly Expenses</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="js-sub-menu-toggle">
                                    <i class="fa fa-credit-card"></i><span class="text"> Budget</span>
                                    <i class="toggle-icon fa fa-angle-left"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="@Url.Action("Index", "BudgetItems")"><span class="text"> Budget Summary</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="js-sub-menu-toggle">
                                    <i class="fa fa-home"></i><span class="text"> Household</span>
                                    <i class="toggle-icon fa fa-angle-left"></i>
                                </a>
                                <ul class="sub-menu">
                                @if (!User.IsInRole("Admin") && !User.IsInRole("Member"))
                                {
                                    <li><a href = "@Url.Action("Create", "Households")" ><span class="text"> Create</span></a></li>
                                    <li><a href = "@Url.Action("Join", "Invitations")"><span class="text"> Join</span></a></li>
                                }

                                @if(!User.IsInRole("Guest"))
                                {
                                    <li><a href="@Url.Action("Leave", "Households")"><span class="text"> Leave</span></a></li>
                                }
                                    <li><a href="@Url.Action("Create", "Invitations")"><span class="text"> Send Invitation</span></a></li>
                                    <li><a href="@Url.Action("Index", "Invitations")"><span class="text"> Pending Invitations</span></a></li>
                                </ul>
                            </li>
                            @*<li>
                                    <a href="#" class="js-sub-menu-toggle">
                                        <i class="fa fa-book"></i><span class="text"> Transactions</span>
                                        <i class="toggle-icon fa fa-angle-left"></i>
                                    </a>
                                </li>*@
                        </ul>
                    </nav>
                    <!-- /main-nav -->
                </div>
            </div>
            <!-- END LEFT SIDEBAR -->
            <!-- MAIN CONTENT WRAPPER -->
            <div id="main-content-wrapper" class="content-wrapper ">
                <!-- top general alert -->
                @*<div class="alert alert-danger top-general-alert">
                        <span>If you <strong>can't see the logo</strong> on the top left, please reset the style on right style switcher (for upgraded theme only).</span>
                        <button type="button" class="close">&times;</button>
                    </div>*@
                <!-- end top general alert -->

                @RenderBody()

                @*<div class="row">
                        <div class="col-lg-4 ">
                            <ul class="breadcrumb">
                                <li><i class="fa fa-home"></i><a href="#">Home</a></li>
                                <li><a href="#">Navigations</a></li>
                                <li class="active">Normal Sidebar</li>
                            </ul>
                        </div>
                        <div class="col-lg-8 ">
                            <div class="top-content">
                                <ul class="list-inline quick-access">
                                    <li>
                                        <a href="charts-statistics-interactive.html">
                                            <div class="quick-access-item bg-color-green">
                                                <i class="fa fa-bar-chart-o"></i>
                                                <h5>CHARTS</h5><em>basic, interactive, real-time</em>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page-inbox.html">
                                            <div class="quick-access-item bg-color-blue">
                                                <i class="fa fa-envelope"></i>
                                                <h5>INBOX</h5><em>inbox with gmail style</em>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tables-dynamic-table.html">
                                            <div class="quick-access-item bg-color-orange">
                                                <i class="fa fa-table"></i>
                                                <h5>DYNAMIC TABLE</h5><em>tons of features and interactivity</em>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>*@
                <!-- main -->
                @*<div class="content">
                        <div class="main-header">
                            <h2>Normal Sidebar</h2>
                            <em>normal sidebar navigation demo</em>
                        </div>
                        <div class="main-content">
                            <div class="text-center">
                                <img src="assets/img/dashboard-normal-sidebar.png" class="img-responsive center-block" alt="Normal Sidebar">
                                <div class="bottom-30px"></div>
                                <p class="lead">If you want normal sidebar just like the later version of KingAdmin, just use this page as example</p>
                            </div>
                        </div>
                    </div>*@
                <!-- /main -->
                <!-- FOOTER -->
                <footer class="footer">
                    &copy; 2016 Tim Bennett
                </footer>
                <!-- END FOOTER -->
            </div>
            <!-- END CONTENT WRAPPER -->
        </div>
    <!-- END WRAPPER -->

    <!-- Javascript -->
    <script src="~/assets/js/jquery/jquery-2.1.0.min.js"></script>
    <script src="~/assets/js/bootstrap/bootstrap.js"></script>
    <script src="~/assets/js/plugins/modernizr/modernizr.js"></script>
    <script src="~/assets/js/plugins/bootstrap-tour/bootstrap-tour.custom.js"></script>
    <script src="~/assets/js/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/js/king-common.js"></script>
    <script src="~/demo-style-switcher/assets/js/deliswitch.js"></script>
    <script src="~/assets/js/plugins/datatable/jquery.dataTables.min.js"></script>
    @*<script src="~/assets/js/plugins/datatable/exts/dataTables.colVis.bootstrap.js"></script>
        <script src="~/assets/js/plugins/datatable/exts/dataTables.colReorder.min.js"></script>
        <script src="~/assets/js/plugins/datatable/exts/dataTables.tableTools.min.js"></script>
        <script src="~/assets/js/plugins/datatable/dataTables.bootstrap.js"></script>
        <script src="~/assets/js/plugins/jqgrid/jquery.jqGrid.min.js"></script>
        <script src="~/assets/js/plugins/jqgrid/i18n/grid.locale-en.js"></script>
        <script src="~/assets/js/plugins/jqgrid/jquery.jqGrid.fluid.js"></script>*@
    <script src="~/assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/assets/js/king-table.js"></script>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
